№ 4.2.1


Рассчитать значение f при заданном значении вещественного числа x:


![Снимок.PNG]()


При выводе на экран оставьте 2 знака после запятой.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_01.
#
# Выполнил: Шепелева Е.В.
# Группа: АДЭУ - 201
# E-mail: 10lizok2002@gmail.com


x = float(input("Введите число x: "))

if x >= 0:
    f = x**0.5 + x**2
    print("f =", round(f, 2))
else:
    f = 1 / x
    print("f =", round(f, 2))
# --------------
# Пример вывода:
#
# Введите число x: -10
# f = -0.10

# Введите число x: 0
# f = 0.00

# Введите число x: 10
# f = 103.16

Введите число x: 10
f = 103.16

№ 4.2.2

Определите максимальное и минимальное значения из двух различных целых чисел.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_02.
#
# Выполнил: Шепелева Е.В.
# Группа: АДЭУ - 201
# E-mail: 10lizok2002@gmail.com

  a1 = int(input("Введите первое число: "))
  a2 = int(input("Введите второе число: "))
  if (a1 >= a2) :
    print ("Максимум:", a1, end=" ")
    print ("Минимум:", a2)
  else:
    print ("Максимум:", a2, end=" ")
    print ("Минимум:", a1)

# --------------
# Пример вывода:
#
# Введите первое число: 1
# Введите второе число: 2
# Максимум: 2, минимум: 1

# Введите первое число: 5
# Введите второе число: 5
# Максимум: 5, минимум: 5

# Введите первое число: 100
# Введите второе число: -1
# Максимум: 100, минимум: -1

Введите первое число: 1
Введите второе число: 2
Максимум: 2 , Минимум: 1

№ 4.2.3


Вася пытается высунуть голову в форточку размерами a и b см. Приняв условно, что его голова - круглая диаметром d см, определите, сможет ли Вася сделать это. Для прохождения головы в форточку необходим зазор в 1 см. с каждой стороны.


Все величины - целые числа.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_03.
#
# Выполнил: Шепелева Е.В.
# Группа: АДЭУ - 201
# E-mail: 10lizok2002@gmail.com


a = int(input("Ширина форточки:"))
b = int(input("Высота форточки:"))
d = int(input("Диаметр головы:"))


# Введенные числа должны быть положительными, если так - осуществляем
# расчет, иначе выводим "Проверьте ввод"
if (a > 0 and b > 0 and d > 0):
  fix = 1 
  if d < (a + fix) and d < (b + fix):
    print("Да")
  else:
    print("Нет")
else:
   print("Проверьте ввод")


# --------------
# Пример вывода:
#
# Ширина форточки: 5
# Высота форточки: 6
# Диаметр головы: 6
# Нет

# Ширина форточки: 6
# Высота форточки: 7
# Диаметр головы: 4
# Да

Ширина форточки:5
Высота форточки:6
Диаметр головы:6
Нет

№ 4.2.4

Известны год и номер месяца сегодняшнего дня, а также год и номер месяца рождения человека (нумерация месяцев с 1: январь - 1 и т.д.). Определите возраст человека (число полных лет).

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_04.
#
# Выполнил: Шепелева Е.В.
# Группа: АДЭУ - 201
# E-mail: 10lizok2002@gmail.com

year_today = int(input("Введите текущий год:"))
month_today = int(input("Введите текущий месяц:"))

year = int(input("Введите год рождения:"))
month = int(input("Введите месяц рождения:"))

# Считается, введенные значения находятся в допустимых пределах,и
# что 'month_today' >= 'month' (проверять значения не нужно)
# Результат необходимо записать в переменную 'age'

if (month_today >= month):
  age = year_today - year
else:
  age = year_today - year - 1

print("Число полных лет: ", age)

# --------------
# Пример вывода:
#
# Введите текущий год: 2017
# Введите текущий месяц: 5
# Введите год рождения: 2000
# Введите месяц рождения: 1
# Число полных лет:  17
#
# Введите текущий год: 2015
# Введите текущий месяц: 6
# Введите год рождения: 2010
# Введите месяц рождения: 8
# Число полных лет:  4
#
# Введите текущий год: 2020
# Введите текущий месяц: 5
# Введите год рождения: 2000
# Введите месяц рождения: 5
# Число полных лет:  20

Введите текущий год:2020
Введите текущий месяц:9
Введите год рождения:2002
Введите месяц рождения:3
Число полных лет:  18

№ 4.2.5

Дана точка с целыми ненулевыми координатами (x;y). Определить номер четверти координатной плоскости, которой она принадлежит.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_05.
#
# Выполнил: Шепелева Е.В.
# Группа: АДЭУ - 201
# E-mail: 10lizok2002@gmail.com


x = int(input("Введите координату x: "))
y = int(input("Введите координату y: "))

if (x > 0 and y > 0):
    print("1-я четверть")
elif (x < 0 and y > 0):
    print("2-я четверть")           
elif (x < 0 and y < 0):
    print("3-я четверть")
else:
    print("4-я четверть")

# --------------
# Пример вывода:
#
# Введите координату x: 5
# Введите координату y: 7
# 1-я четверть

Введите координату x: 5
Введите координату y: 7
1-я четверть

№ 4.2.6

Даны вещественные числа a, b, c (a≠0).

Решите уравнение ax2+bx+c=0. При выводе значений оставьте 1 знак после запятой.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_06.
#
# Выполнил: Шепелева Е.В.
# Группа: АДЭУ - 201
# E-mail: 10lizok2002@gmail.com

a = float(input("a = "))
b = float(input("b = "))
c = float(input("c = "))

D = b**2 - 4 * a * c
if  D > 0:
  x1 = (-b - (D)**0.5) / 2 * a
  x2 = (-b + (D)**0.5) / 2 * a
  print("x1 =", x1,',', "x2 =", x2)
elif D == 0:
  x = (-b) / 2 * a
  print("x =", x)
else:
  print("Решений нет")



# Расчет дискриминанта
# Удалите комментарий и допишите код

# Вывод решения в зависимости от значения дискриминанта
# При выводе значений оставьте 1 знак после запятой
# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# a = 1
# b = 2
# c = 3
# Решений нет
#
# a = 1
# b = 2
# c = 1
# x = -1.0
#
# a = 1
# b = 3
# c = -4
# x1 = -4.0, x2 = 1.0

a = 1
b = 3
c = -4
x1 = -4.0 , x2 = 1.0

№ 4.2.7

Дана непустая последовательность целых чисел, оканчивающаяся нулем. Найти сумму и количество введенных чисел.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_07.
#
# Выполнил: Шепелева Е.В.
# Группа: АДЭУ - 201
# E-mail: 10lizok2002@gmail.com



nums_sum = 0  # сумма
nums_count = 0  # количество

x = 1
while x != 0:
   nums_count += 1 
   nums_sum = nums_sum + x
   print("Введите ", nums_count, "-е число:")
   x = int(input())
print("Сумма:", nums_sum - 1)
print("Колличество:", nums_count - 1)

# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

Введите  1 -е число:
1
Введите  2 -е число:
2
Введите  3 -е число:
3
Введите  4 -е число:
4
Введите  5 -е число:
0
Сумма: 10
Колличество: 4

№ 4.2.8

Дано число n. Из чисел 0,5,10,15,20,25,... напечатать те, которые не превышают n.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_08.
#
# Выполнил: Шепелева Е.В.
# Группа: АДЭУ - 201
# E-mail: 10lizok2002@gmail.com


n = int(input("n = "))
i = 0
while i <= n:
  print(i)
  i = i + 5
  
# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# n = 0
# 0
#
# n = 10
# 0
# 5
# 10
#
# n = 12
# 0
# 5
# 10

n = 12
0
5
10

№ 4.2.9

Дано вещественное число a. Найдите наименьшее натуральное n, для которого верно

![Снимок.PNG]()

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_09.
#
# Выполнил: Шепелева Е.В.
# Группа: АДЭУ - 201
# E-mail: 10lizok2002@gmail.com


a = float(input("a = "))

n = 0
x_sum = 0.0
while x_sum <= a:
  n += 1
  x_sum += 1/n
print("n =", n)


# --------------
# Пример вывода:
#
# a = 1.5
# n = 3
#
# a = 2
# n = 4

a = 1.5
n = 3

№ 4.2.10

Дано натуральное число. Определите сумму и количество его цифр.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_10.
#
# Выполнил: Шепелева Е.В.
# Группа: АДЭУ - 201
# E-mail: 10lizok2002@gmail.com


n = int(input("n = "))

n_sum = 0
n_count = 0

while n > 0:
  n_count = 1 + n_count
  n_sum = n % 10 + n_sum
  n = n // 10
print("Сумма =", n_sum)
print("Количество =", n_count)

# --------------
# Пример вывода:
#
# n = 12345
# Сумма = 15
# Количество = 5

n = 12345
Сумма = 15
Количество = 5

№ 4.2.11
Вывести в строку 10 первых натуральных чисел, оканчивающихся на цифру k, кратных числу s и находящихся в интервале, левая граница которого равна start.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_11.
#
# Выполнил: Шепелева Е.В.
# Группа: АДЭУ - 201
# E-mail: 10lizok2002@gmail.com

start = int(input("start = "))
k = int(input("k = "))
s = int(input("s = "))
n_count = 0


while n_count <10:
  if start % 10 == k and start % s == 0:
    n_count += 1
    print(start, end=" ")
  start +=1


# --------------
# Пример вывода:
#
# start = 100
# k = 7
# s = 9
# 117 207 297 387 477 567 657 747 837 927

start = 100
k = 7
s = 9
117 207 297 387 477 567 657 747 837 927

№ 4.2.12

Даны целые числа a и b (a может быть больше b). Напечатайте:

числа от минимального до максимального в строчку (разделяя пробелом);

числа от максимального до минимального «столбиком».

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_12.
#
# Выполнил: Шепелева Е.В.
# Группа: АДЭУ - 201
# E-mail: 10lizok2002@gmail.com


a = int(input("a ="))
b = int(input("b ="))
i = 0

for i in range(a, b + 1):
  print(i, end=' ')

print(sep='') 

for i in range(b, a - 1, -1):
  print(i)

# --------------
# Пример вывода:
#
# a = 1
# b = 5
# 1 2 3 4 5
# 5
# 4
# 3
# 2
# 1

a =1
b =5
1 2 3 4 5
5
4
3
2
1

№ 4.2.13

Для введенных с клавиатуры положительных целых чисел a и b (a≤b) определите:

-сумму всех целых чисел от a до b;

-произведение всех целых чисел от a до b;

-среднее арифметическое всех целых чисел от a до b;

-среднее геометрическое нечетных чисел от a до b.

Отрезок поиска включает сами числа a и b. При выводе вещественных результатов оставьте два знака после запятой.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_12.
#
# Выполнил: Шепелева Е.В.
# Группа: АДЭУ - 201
# E-mail: 10lizok2002@gmail.com

from math import sqrt

a = int(input("a="))
b = int(input("b="))
n_mult = 1
if a <= b:
  n_sum = sum(range(a, b+1))
  for i in range(a, b + 1):
    n_mult *= i
  n_avg = sum(range(a, b+1)) / len(range(a, b+1))
  n_avg_geom = round(sqrt(a * b), 2)
  print("Сумма =", n_sum)
  print("Произведение =", n_mult)
  print("Среднее арифметическое = {}".format(n_avg))
  print("Среднее геометрическое нечетных чисел = {}".format(n_avg_geom))
  print("Отрезок =", list(range(a, b+1)))
else:
  print("Нарушено условие")

# --------------
# Пример вывода:
#
# a = 1
# b = 5
# Сумма = 15
# Произведение = 120
# Среднее арифметическое = 3.00
# Среднее геометрическое нечетных чисел = 2.47

a=1
b=5
Сумма = 15
Произведение = 120
Среднее арифметическое = 3.0
Среднее геометрическое нечетных чисел = 2.24
Отрезок = [1, 2, 3, 4, 5]

№ 4.2.14

Начав тренировки, лыжник в первый день пробежал s км. (s>0, вещественное число). Каждый следующий день он увеличивал пробег на p % (0<p≤100, вещественное число) от пробега предыдущего дня. Определите:

-пробег лыжника за второй, третий, …, десятый день тренировок;

-какой суммарный путь он пробежал за первые 10 дней тренировок.

При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_14.
#
# Выполнил: Шепелева Е.В.
# Группа: АДЭУ - 201
# E-mail: 10lizok2002@gmail.com

s = float(input("Пробег за первый день(км.)="))
p = float(input("На сколько увеличивает пробег(%)="))

total = s
for i in range(2,11):
  s+= (s/100)*p
  print("Пробег за {}-й день:".format(i), round(s, 1))
  total+= s
print("Суммарный пробег: {:.1f} км.".format(total))

# --------------
# Пример вывода:
#
# Пробег за 1-й день (км.) = 5
# На сколько увеличивает пробег (%) = 10
# Пробег за 2-й день: 5.5 км.
# Пробег за 3-й день: 6.1 км.
# Пробег за 4-й день: 6.7 км.
# Пробег за 5-й день: 7.3 км.
# Пробег за 6-й день: 8.1 км.
# Пробег за 7-й день: 8.9 км.
# Пробег за 8-й день: 9.7 км.
# Пробег за 9-й день: 10.7 км.
# Пробег за 10-й день: 11.8 км.
# Суммарный пробег: 79.7 км.

Пробег за первый день(км.)=5
На сколько увеличивает пробег(%)=10
Пробег за 2-й день: 5.5
Пробег за 3-й день: 6.0
Пробег за 4-й день: 6.7
Пробег за 5-й день: 7.3
Пробег за 6-й день: 8.1
Пробег за 7-й день: 8.9
Пробег за 8-й день: 9.7
Пробег за 9-й день: 10.7
Пробег за 10-й день: 11.8
Суммарный пробег: 79.7 км.

№ 4.2.15

Известна масса каждого предмета в кг., загружаемого в грузовик. Определить, возможна ли перевозка груза, если грузоподъемность грузовика равна p кг.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_15.
#
# Выполнил: Шепелева Е.В.
# Группа: АДЭУ - 201
# E-mail: 10lizok2002@gmail.com


p = int(input("Грузоподъемность грузовика (кг.) = "))
n = int(input("Количество предметов = "))
total=0
for i in range(1, n+1):
  m=int(input("Масса {}-го предмета = ".format(i)))
  total += m
if total <= p:
  print("Да")
else: print("Нет")
# --------------
# Пример вывода:
#
# Грузоподъемность грузовика (кг.) = 10
# Количество предметов = 2
# Масса 1-го предмета (кг.) = 3
# Масса 2-го предмета (кг.) = 3
# Да

Грузоподъемность грузовика (кг.) = 10
Количество предметов = 2
Масса 1-го предмета = 3
Масса 2-го предмета = 3
Да

№ 4.2.16

В области несколько районов. Заданы площади, засеваемые пшеницей (га.), и средняя урожайность (ц/га) в каждом районе.

Определите количество пшеницы, собранное по области. При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_16.
#
# Выполнил: Шепелева Е.В.
# Группа: АДЭУ - 201
# E-mail: 10lizok2002@gmail.com


n = int(input("Количество районов = "))
total = 0
for i in range(1, n+1):
 s = int(input("Площадь {}-го района (га)=".format(i)))
 u = int(input("Урожайность в {}-м районе (ц/га)=".format(i)))
 total += u*s
print("Собрано пшеницы: {} ц.".format(total))

# --------------
# Пример вывода:
#
# Количество районов = 3
# Площадь 1-го района (га) = 4
# Урожайность в 1-м районе (ц/га.) = 2
# Площадь 2-го района (га) = 7
# Урожайность в 2-м районе (ц/га.) = 3
# Площадь 3-го района (га) = 9
# Урожайность в 3-м районе (ц/га.) = 4
# Собрано пшеницы: 65.0 ц

Количество районов=3
Площадь 1-го района (га)=2
Урожайность в 1-м районе (ц/га)=7
Площадь 2-го района (га)=3
Урожайность в 2-м районе (ц/га)=9
Площадь 3-го района (га)=4
Урожайность в 3-м районе (ц/га)=5
Собрано пшеницы:61ц.

№ 4.2.17

Решите задачу № 4.2.7(Дана непустая последовательность целых чисел, оканчивающаяся нулем. Найти сумму и количество введенных чисел.), организовав бесконечный цикл, который бы прерывался при выполнении условия, используя оператор break.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_17.
#
# Выполнил: Шепелева Е.В.
# Группа: АДЭУ - 201
# E-mail: 10lizok2002@gmail.com


nums_sum = 0  # сумма
nums_count = 0  # количество
x=1
while x > 0:
  print("Введите ", nums_count+1, "-е число:")
  x= int(input())
  if x==0:
    break
  nums_count += 1 
  nums_sum += x

print("Сумма =", nums_sum)
print("Количество =", nums_count)

# --------------
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

Введите  1 -е число:
1
Введите  2 -е число:
2
Введите  3 -е число:
3
Введите  4 -е число:
4
Введите  5 -е число:
0
Сумма = 10
Количество = 4

№ 4.2.19

Выведите на экран (в строку) все целые числа от a до b, кратные некоторому числу c.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_19.
#
# Выполнил: Шепелева Е.В.
# Группа: АДЭУ - 201
# E-mail: 10lizok2002@gmail.com


a = int(input("a = "))
b = int(input("b = "))
c = int(input("c = "))

for i in range(a, b+1):
  if (i%c)==0:
    print(i, end=' ')

# --------------
# Пример вывода:
#
# a = 1
# b = 10
# c = 2
# 2 4 6 8 10

a = 1
b = 10
c = 2
2 4 6 8 10

№ 4.2.20

Выведите на экран (в строку) все трехзначные натуральные числа, сумма цифр которых равна целому числу n (0<n≤27).

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_20.
#
# Выполнил: Шепелева Е.В.
# Группа: АДЭУ - 201
# E-mail: 10lizok2002@gmail.com



def summa_chisel(a): 
   n=0 
   while a != 0: 
       n += a % 10 
       a = a // 10 
   return n 

n = int(input("n = ")) 

for i in range(100,1000): 
  ch = summa_chisel(i) 
  if ch == n: 
    print(i, end=" ")
    
# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# n = 3
# 102 111 120 201 210 300

n = 3
102 111 120 201 210 300